div(class="jumbotron")
    h1(class="display-4") Exploring the Impact of Alternative Warnings on Security Behaviours
    p(class="lead") Daniela Napoli, daniela.napoli@carleton.ca, School of Computer Science, Carleton University