html(lang="en")

    head
        meta(charset="utf-8")
        title Usability Testing Administration Page

        include ../partials/bootstrap.pug

    body
        include ../partials/header.pug
            //- The next paragraph is indented so it is considered part of the div in hearder.pug
            hr(class="my-4")
            p This page will help manage the websites you assess for this study. To get started, please choose your assigned variation.

        div(class="container-sm")
            div(class="row")
                div(class="col-sm")
                    a(class="btn btn-primary" href="variation" role="button") Variation

                div(class="col-sm")
                    a(class="btn btn-primary disabled" href="variation/2" role="button" aria-disabled="true") Variation 2

                div(class="col-sm")
                    a(class="btn btn-primary disabled" href="variation3.html" role="button" aria-disabled="true") Variation 3

                div(class="col-sm")
                    a(class="btn btn-primary" href="heuristiceval.html" role="button") Expert Evaluation
